:root {
    --col1: #373E98;
    --col2: #F16775;
    --col3: #FEE36e;
    --col4: #2a2a2a;
    --col5: #fff;
  }

  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

  body{
      background-color: var(--col1);
  }
  .navigation{
      background-color: var(--col1);
      width: 60vw;
      display:none;
      transition: ;
  }

  .imgSDG{
      /* position : absolute;
      z-index: 10; */
      padding:0;
      margin:0;
      height: 20vh;
      width:20vh;
      transition: all 150ms ease-in-out;
      padding:0.3vh 0.3vh;
  }

  .sdgRow{
      margin:0;
      padding:0;

  }

  .imgSDG:hover{
      position: absolute;
      z-index : 100;
      height: 30vh;
      width: 30vh;
      margin:-5vh -5vh;
      padding:0;
      box-shadow: 0px 0px 20px 10px #2a2a2a;
  }

  .navigationAllTime{
      background-color: var(--col1);
      height: 10vh;
      width: 100.95%;
      margin : 0;
      padding: 0;
  }